<!DOCTYPE html>
<html lang="en">
<head>
   <%-include('./inc/head')%>
   <title>Page or City Not Found</title>
</head>
<body>
   <%-include('./inc/header')%>
   <div class="err_text">
      <p>Page or City not found.</p>
   </div>
</body>
</html>